html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 45, 45);
}
header {
    height: 50%;
    font-weight: bold;
    border-bottom: 1px solid black;
}
footer {
    background-color: lightgray;
    height: 15%;
    border-top: 1px solid black;
    font-size: 13px;
    font-weight: bold;
}
#top-link {
    text-decoration: none;
    padding: 20px;
    background-color: lightgray;
    color: black;
    border: 2px solid darkgrey;
    display: inline-block;
    margin: 5px;
    margin-left: 5%;
    margin-bottom: 3%;
}
.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url(img/header.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.restaurant-title {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 41%;
}
.restaurant-intro {
    color: white;
    text-align: center;
    margin-top: 20px;
    top: 60%;
    left: 43%;
    position: absolute;
    padding-bottom: 1%;
    border-bottom: 1px groove white;
}

.menu-box-link {
    top: 78%;
    left: 47%;
    position: absolute;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 17px;
    padding: 15px 40px;
    border-radius: 15px;

}
.menu-box-link:hover {
    background-color: rgba(255, 255, 255, 0.849);
}
.page-link {
    border: 7px solid rgb(10, 10, 10);
    width: 40%;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    background-color: rgb(233, 231, 231);
    margin-right: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-link img {
    width: 100%;
    border-bottom: 1px solid black;
}
.page-link a {
    color: rgb(49, 48, 48);
    text-decoration: none;
}

.page-link p {
    padding-left: 15px;
}
#email-us, #call-us, #visit-us{
    width: 20%;
    margin-left: 4%;
}

#nav-bar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    /* border: 1px solid purple; */
    
}

#nav-bar ul {
    list-style-type: none;
    /* border: 1px solid green; */
}

#nav-bar ul li {
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2% 1% 2% 1%;
}
#nav-bar ul li:not(.active-page):hover {
    background-color: rgba(255, 255, 255, 0.123);
}
#nav-bar ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    /* border: 1px solid orange; */
}

.active-page {
    background-color: rgba(255, 255, 255, 0.801);
}
#nav-bar ul .active-page a {
    color: black;
}

#email-us .email-link{
    text-decoration: underline;
    color: blue;
}


/* when width < 875px, snap to mobile tailored displays (max-width: 875px) */
@media only screen and (max-width: 890px) {
    
    header {
        height: 90%;
    }
    .page-link {
        width: 75%;
        margin-left: 10%;
    }

    #email-us, #call-us, #visit-us{
        width: 75%;
        margin-left: 10%;
    }

    #nav-bar {
        width: 100%;
        margin-bottom: 40%;
    }
    #nav-bar ul li {
        display: block;
        text-align: center;
    }
   
}
